<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Techied Home Page</title>
</head>
<body>
    <section class="h-full homeSection">
        <header class="flex items-center justify-between basis-1/2 border-b drop-shadow-lg border-purple-800 bg-slate-200">
            <a href="/">
                <div class="container flex items-center ml-4 basis-1/2">
                    <img src="" alt="LOGO" class="w-16 mr-4">
                    <img src="" alt="LOGO TXT" class="w-16">
                </div>
            </a>
            <nav class="basis-1/2">
                <ul class="flex items-center justify-center">
                    <li class="text-base w-full text-center"><a href="">Courses</a></li>
                    <li class="text-base w-full text-center"><a href="">Events</a></li>
                    <li class="text-base w-full text-center"><a href="">About Us</a></li>
                    <li class="text-base w-full text-center"><a href="/login">Login</a></li>
                </ul>
            </nav>
        </header>
        <div class="container w-full flex mt-16 justify-around">
            <div class="w-1/2 bg-slate-50 ml-8 rounded-md p-8 drop-shadow-xl">
                <h1 class="text-2xl">Who we are</h1>
                <hr/>
                <p class="text-lg mt-2">Techied is the worlds 1st platform with proper illustrative method of teaching and learning all Bachelors courses. Here we aim to be more clear near fundamentals than brushing on the important concept.
     
                    At a fundamental stage, we try making concepts clear by providing motion illustrations and making analysis based tests to make things more clear and make them more understandable.</p>
            </div>
            <iframe src="https://www.youtube.com/embed/ZK-rNEhJIDs" frameborder="0" class="w-4/12 rounded-md drop-shadow-xl"></iframe>
        </div>
        <div class="container w-full flex flex-row-reverse mt-24 mb-8 justify-around">
            <div class="w-1/2 bg-slate-50 ml-8 rounded-md p-8 drop-shadow-xl">
                <h1 class="text-2xl">About Us</h1>
                <hr/>
                <p class="text-lg mt-2">We are a group of students from SRM University from different departments. We started this as a small scale project. But we recognized that the main problem arises when people don't understand the fundamentals of the topics without knowing what is exactly there in it.

                    Here, we are exactly planning to remove all the problems in construction of your fundamentals unlike the boring theory or the long long lecture sessions. We ensure for your ED-growth and aspire for your success.</p>
            </div>
            <iframe src="https://www.youtube.com/embed/tgi67lF-PUM" frameborder="0" class="w-4/12 rounded-md drop-shadow-xl"></iframe>
        </div>
        <footer class="bg-slate-200 text-black font-bold py-4 px-4 shadow-2xl shadow-slate-800 rounded-t-3xl m-auto w-[97%]">
            <div class="container mt-2">
                <h1 class="text-center text-xl">&copy;2022 Techied. All rights reserved.</h1>
                <hr class="border-t border-slate-300 mt-2"/>
            </div>
            <div class="container mt-2 w-full flex">
                <div class="container flex flex-col basis-4/12 text-center">
                    <h2 class="border-b border-slate-300 mb-2">Courses</h2>
                    <ul>
                        <li><a href="">Computer Science</a></li>
                        <li><a href="">Mechanical</a></li>
                        <li><a href="">Civil</a></li>
                        <li><a href="">Chemical</a></li>
                        <li><a href="">Automobile</a></li>
                        <li><a href="">Aeronautical</a></li>
                    </ul>
                </div>
                <div class="container flex flex-col basis-4/12 text-center">
                    <h2 class="border-b border-slate-300 mb-2">Offered to</h2>
                    <ul>
                        <li><a href="">Students</a></li>
                        <li><a href="">Teachers</a></li>
                        <li><a href="">Colleges</a></li>
                    </ul>
                </div>
                <div class="container flex flex-col basis-4/12 text-center">
                    <h2 class="border-b border-slate-300 mb-2">Patnered by</h2>
                    <ul>
                        <li><a href="">SRM Institute of Science and Technology</a></li>
                        <li><a href="">XYZ COLLEGE</a></li>
                        <li><a href="">ABC</a></li>
                    </ul>
                </div>
            </div>
            
        </footer>
    </section>
</body>
</html>