<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="scripts/face-api.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Register</title>
</head>
<body>
    <section class="h-screen homeSection flex flex-col">
        <header class="flex items-center justify-between border-b drop-shadow-lg border-purple-800 bg-slate-200">
            <a href="/">
                <div class="container flex items-center ml-4 basis-1/2">
                    <img src="" alt="LOGO" class="w-16 mr-4">
                    <img src="" alt="LOGO TXT" class="w-16">
                </div>
            </a>
            <nav class="basis-1/2">
                <ul class="flex items-center justify-center">
                    <li class="text-base w-full text-center"><a href="">Courses</a></li>
                    <li class="text-base w-full text-center"><a href="">Events</a></li>
                    <li class="text-base w-full text-center"><a href="">About Us</a></li>
                    <li class="text-base w-full text-center"><a href="/login">Login</a></li>
                </ul>
            </nav>
        </header>
        <div class="container w-fit px-16 py-12 bg-slate-200 absolute LoginForm rounded-md">
            <h1 class="text-center text-xl font-bold mb-8 border-b border-black">Register</h1>
            <form action="/register" method="post" class="flex flex-col" id="registerForm">
                <label for="name" class="text-xs">Name</label>
                <input type="text" name="name" class="mb-2 rounded-sm uname">
                <label for="username" class="text-xs">Email</label>
                <input type="email" name="username" id="emailInput" class="mb-2 rounded-sm">
                <label for="password" class="text-xs">Password</label>
                <input type="password" name="password" id="passwordInput" class="mb-4 rounded-sm">
                <label for="Upload" class="text-xs">Upload Image</label>
                <button type="button" class="rounded-md shadow-md px-4 py-2 bg-purple-200 hover:bg-purple-400 transition-all" data-modal-target="#modal">Open Webcam</button>
                <p id="loaded" class="text-sm text-center"></p>
                <button type="submit" class="border border-slate-400 rounded-md hover:text-white hover:bg-sky-400 hover:scale-105 hover:border-none px-4 py-2 transition-all">Submit</button>
            </form>
            <h1 class="text-center text-base mt-4"><span>Already have an account?</span><br><a href="/login" class="text-blue-700">Log into your Account</a></h1>
        </div>
        <%- include('modal') %>
        <div id="wrap-animation">
            <div class="ring hidden">
                Loading
                <span class="hidden ring-span"></span>
            </div>
        </div> 
    </section>
    <script src="scripts/modalScript.js"></script>
    <script src="scripts/getDescriptors.js"></script>
</body>
</html>