<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Register</title>
</head>
<body>
    <section class="h-screen homeSection flex flex-col">
        <header class="flex items-center justify-between border-b drop-shadow-lg border-purple-800 bg-slate-200">
            <a href="/">
                <div class="container flex items-center ml-4 basis-1/2">
                    <img src="" alt="LOGO" class="w-16 mr-4">
                    <img src="" alt="LOGO TXT" class="w-16">
                </div>
            </a>
            <nav class="basis-1/2">
                <ul class="flex items-center justify-center">
                    <li class="text-base w-full text-center"><a href="">Courses</a></li>
                    <li class="text-base w-full text-center"><a href="">Events</a></li>
                    <li class="text-base w-full text-center"><a href="">About Us</a></li>
                    <li class="text-base w-full text-center"><a href="/login">Login</a></li>
                </ul>
            </nav>
        </header>
        <div class="mt-8 ml-8">
            <h1 class="text-5xl text-white tracking-wide">Start where you left off...</h1>
        </div>
        <div class="course-title ml-8">
            <h1 class="text-white text-3xl transition-all hover:text-slate-200"> Artificial Intelligence</h1>
        </div>
        <div class="scrolling-wrapper flex align-center">
            <a href="/algoPage"><div class="card rounded-md shadow-md bg-slate-200 flex flex-col align-center justify-center hover:bg-slate-300 transition-all hover:scale-105">
                <h2>Algorithms</h2>
            </div></a>
            <a href="/topicPage"><div class="card rounded-md shadow-md bg-slate-200 flex flex-col align-center justify-center hover:bg-slate-300 transition-all hover:scale-105">
                <h2>Data Science</h2>
            </div></a>
            <a href="/approachtoaiPage"><div class="card rounded-md shadow-md bg-slate-200 flex flex-col align-center justify-center hover:bg-slate-300 transition-all hover:scale-105">
                <h2>Approach to AI</h2>
            </div></a>
            <a href="/fuzzysetsPage"><div class="card rounded-md shadow-md bg-slate-200 flex flex-col align-center justify-center hover:bg-slate-300 transition-all hover:scale-105">
                <h2>Fuzzy sets</h2>
            </div></a>
            <a href="/neuralnetworksPage"><div class="card rounded-md shadow-md bg-slate-200 flex flex-col align-center justify-center hover:bg-slate-300 transition-all hover:scale-105">
                <h2>Neural Networks</h2>
            </div></a>
            <a href="/multiagentsPage"><div class="card rounded-md shadow-md bg-slate-200 flex flex-col align-center justify-center hover:bg-slate-300 transition-all hover:scale-105">
                <h2>Multi Agents</h2>
            </div></a>
            <a href="/nlpPage"><div class="card rounded-md shadow-md bg-slate-200 flex flex-col align-center justify-center hover:bg-slate-300 transition-all hover:scale-105">
                <h2>NLP</h2>
            </div></a>
            
        </div>
    </section>
</body>
</html>